:root{
    --white: #fff;
    --black: #000;
    --red: red;
    --purple: rgb(58,55,193) ;
    --blue: #0ea5e9; 
    --gray: #6e6e6e;
    --green: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Tilt Neon", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
    /* user-select: none; */
}

button{
    user-select: none;
    cursor: pointer;
}

a, a:hover{
    text-decoration: none;
}

button,
input,
[tabindex] {
border: none;
outline: none;
cursor: pointer;
}

.Home{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    user-select: none;
}

.Home__content{
    display: flex;
    margin: 40px 100px;
    justify-content: space-between;
    align-items: center;
}

.Home__add_task,
.Home__list_task,
.Home__update_task{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 280px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px 2px #c9c9c9;
    text-decoration: none;
}

.add_task__img,
.update_task__img,
.list_task__img{
    width: 150px;
    object-fit: contain;
}

.add_task__title,
.list_task__title{
    background-color: transparent;
    font-size: 2rem;
    color: var(--black);
}

.Home__add_task:hover,
.Home__list_task:hover{
    text-decoration: none;
}

.Home__add_task:hover > .add_task__title, .Home__list_task:hover  > .list_task__title {
    color: var(--blue);
}

.update_task__title{
    font-size: 2rem;
    width: 100%;
    color: var(--black);
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    /* background-color: var(--blue); */
    padding: 0 50px;
    border-bottom: solid 1px var(--black);
}

.Header__logo_title{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    border-right: solid 1px var(--black);
}

.Header__logo_title:hover, .Return_btn__wrapper:hover {
    text-decoration: none;
}

.Header__logo_title:hover > .Header__title, .Return_btn__wrapper:hover> .Return_btn{
    color: var(--blue);
}

.Header__logo{
    height: 70px;
    object-fit: contain;
}

.Header__title{
    font-size: 3.6rem;
    color: var(--black);
}

.Header__page{
    flex: 1;
    padding-left: 40px;
    font-size: 2rem;
    color: var(--black);
}

.Header__user{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.Header__user--name{
    display: none;
    position: absolute;
    top: 110%;
    left: -20px;
    width: 150px;
    font-size: 2rem;
    color: var(--black);
    z-index: 1;
}

.Header__user--avt{
    height: 60px;
    object-fit: contain;
}

.Header__user--avt:hover + .Header__user--name{
    display: flex;
}

.Return_btn__wrapper{
    width: 100%;
    font-size: 1.6rem;
    padding-left: 50px;
}

.Return_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px var(--black);
}


.Add_task, .List_task, .Task_detail, .Update_task{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.Add_task__title{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--black);
}

.Add_task__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 340px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    border: solid 1px var(--black);
}

.Add_task__form--label{
    font-size: 1.6rem;
    width: 100%;
}

.Add_task__form--input{
    font-size: 1.6rem;
    border-radius: 5px;
    border: solid 1px var(--black);
    width: 100%;
    padding: 10px;
    align-items: center;
}

.Add_task__form--button{
    display: flex;
    padding: 10px 20px;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Add_task__success, .Delete_task__success, .Update_task__success{
    margin: 20px auto;
    font-size: 1.6rem;
    color: var(--green);
    text-align: center;
}

.Add_task__error, .Delete_task__error, .Update_task__error{
    margin: 20px auto;
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--red);
}

.List_task__title, .Task_detail__title{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--black);
}

/* .List_task__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 3px;
    border: solid 1px  var(--black);
}

.List_task__task{
    display: flex;
    font-size: 1.6rem;

}



.Table__title--name_job, .Task_name{
    font-size: 1.6rem;
    width: 300px;
    line-height: 36px;
    text-align: center;
    border: solid 1px  var(--black);
}

.Table__title--action, .Task_action{
    font-size: 1.6rem;
    width: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: solid 1px  var(--black);
}

.Table__title--name_job,
.Table__title--action{
    background-color: var(--blue);
    color: var(--white);
}

.Task_action--link:hover{
    color: var(--blue);
}

.Task_action--link{
    color: var(--black);
} */

/* .container{
    width: 60%;
} */

.input-group>.custom-select:not(:last-child), .input-group>.form-control_cus:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control_cus, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.btn-outline-secondary{
    font-size: 1.6rem;
}

.table_{
    width: 600px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: auto;
}

.table_ th, .table_ td {
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
    border-radius: 5px;
    border: 1px solid #ddd; /* Đường viền của ô */
}

.table_th{
    text-align: center;
}

.btn_custom{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 1.6rem;
    margin-right: 20px;
    width: 120px;
}

.btn_lg{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 1.25rem;
    margin-right: 20px;
    width: 120px;
}

.btn_lg:hover{
    color: var(--blue);
}

.pagination{
    margin-top: 20px;
    justify-content: center;
    font-size: 1.6rem;
}

.btn-per,
.btn-next{
    text-align: center;
    width: 100px;
}

.checkbox{
    text-align: center;
}

.row_last{
    text-align: center;
}

.Task_detail__task{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    border: solid 1px var(--black);
    padding: 20px 40px;
}

.Task_detail__infor{
    display: flex;
    font-size: 2rem;
}

.Task_action--link > button{
    background-color: transparent;
    padding: 5 10px;
}

.Task_action--link > button:hover {
    color: var(--red);
}

.Table__action{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}